<a href="https://colab.research.google.com/github/EmilianoCruz/CompYProg2022G1157/blob/main/Fundamentos2_Cyp_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 18 Noviembre de 2021

# Tipos de datos estructurados de python

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

# Listas

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas#
  - usando [ ]
  - usando list()
  -usando un generador
- Puede contener tipo de dato diversos (En otros lenguajes de programación eso no es posible de forma directa)
- Los elementos internos se seleccionan con [ ]
- Soporta slicing
- SON MUTABLES
- GENERADORES [var for x in range(10)]
- Al ser una clase contiene muchos metodos útiles

In [ ]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros[2] = 20
print(numeros)
numeros[-1] = 33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# tipos de diversos

cosas = [12, 2, True, "José", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print( cosas[1] )
print( cosas[4] )
print( cosas[5] )
print( cosas[5][1] )
print( cosas[3][1:3:] )
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slicing
# 1.- 4-8
print(numeros[3:8])
#2: [9,10]
print (numeros[8:10])
print (numeros[-3:-1:])
#3:- imprimir la lista en orden inverso [11,10,9, etc., 1]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Crear una lista con un generador
numeros = [ x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# función range ()

tiene los mismos componenetes que slicing 
ini, stop, incremento

rannge (1,101,1)

In [ ]:
numeros = [ x for x in range(50,101,)]
print(numeros)

numeros = [ x for x in range(50,101,2)]
print(numeros)

numeros = [ x for x in range(50,101, 5)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros=[ 4,1,15,8,22,34,50,15 ]
print(numeros)

numeros.append(99)
print(numeros)

#numeros.clear()
#numeros=[]
print(numeros)

frutas = ["uvas", "kiwi", "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print (frutas)
print(copia)

colores = ["rojo", "azul",  "blanco"]
copia2 = colores.copy()
print(colores)
print (copia2)
colores.append("verde")
print(colores)
print (copia2)

print("numero de veces que aparece el 15=", numeros.count(15))

#extend

nombres = ["jose" , "pedro", "karina"]
otrosnombre=["josue", "diana", "dalia"]
print(nombres)
print(otrosnombre)

nombres= nombres + otrosnombre
print(nombres)
print(otrosnombre)

#lo mismo con el metodo extend
otrosnombre.extend( ["Jesus","Maria", "Jose"] )
print("Jesus esta en la posicion:", otrosnombre.index("Jesus"))

otrosnombre.insert(4, "Espiritu santo")
print(otrosnombre)

#pop
resultado = otrosnombre.pop()
print(otrosnombre)
print(resultado)

[4, 1, 15, 8, 22, 34, 50, 15]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
numero de veces que aparece el 15= 2
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
Jesus esta en la posicion: 3
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'Maria', 'Jose']
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'Maria']
Jose

# Tupla
### Caracteristicas de las tuplas

- Datos agrupados 
- Se declara usando#
    - ( )
    - tuple()
-  Es una estructura secuencial, indexada a partir de 0.
- Pueden tener de 0 a n elementos
- NO SON MUTABLES (no se puede: eliminiar y/o cambiar) 
- Buenas para almacenar infromación de consulta.
- Pueden almacenar info. de diferentes tipos de dato.
- Pueden estar anidadas.
- Tienen métodos útiles.

In [ ]:
info = ("juan23", "dios1234", "123.232.1.12")
print( info )
print ( info[ 1 ] )
#info [1] = "patito23" no son mutables

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print( numeros )
print (numeros [5:11])

cosas = ( info, numeros )
print (cosas )
print (cosas[1][5:11])
print(cosas[0][2][4:7])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Métodos de las tuplas 
Son los mismos en las listas pero los que no involucren mutabilidad.

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Características de los diccionarios

- Agrupan datos, pero de forma no líneal.
-Se declaran con :
    - { }
    - dict()
- Formado por pares de tipo llave:valor, donde: 
    - llave es de tipo string (siempre)
    - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
- Se seleccionan con la llave de la forma:["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = { "nombre" : "José"}
print(alumno)
print(alumno["nombre"])
alumno = {"nombre":"José", "nc":"2129229292", "edad":18}
print("Edad del alumno =", alumno["edad"])
print(alumno["nombre"].upper())
print(alumno)

print("\nAlumno2:")
alumno2= dict() #{ }
alumno2["nombre"] = "jose"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"]= 18
print(alumno2)

alumno2["edad"] = alumno2 ["edad"] + 1
print(alumno2)

{'nombre': 'José'}
José
Edad del alumno = 18
JOSÉ
{'nombre': 'José', 'nc': '2129229292', 'edad': 18}

Alumno2:
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 19}

In [ ]:
cliente = { "id":"CT2121", 
           "nombre" : "José Pedroza Rosales",
           "telefonos":"casa=55445656 cel=044534958"}

print(cliente)

cliente = { "id":"CT2121", 
           "nombre" : {
               "nombre":["José", "Eduardo"],
               "paterno": "Predoza" ,
               "materno":"Rosales"
                } ,
           "telefonos":{
               "casa": "552863292",
               "trabajo": "5576385203",
               "celular": "04455230222"
           } , 
           "productos": {
               "ahorro": {"numero_cuenta":"778", "ahorro": 2500.5},
               "tarjetas": [
                             {"tipo":"debito", "saldo":10000.5},
                             {"tipo":"credito preferente","limite":250000.5},
                             {"tipo": "lite", "limite":15000.5}
               ]
              
           },
           "direccion":{
               "calle": "Av. central",
               "numero": 1245,
               "colonia": "Impulsora",
               "delegacion": "neza",
               "estado":{
                   "clave": 15,
                   "nombre_corto":"EdoMex",
                   "nombre": "Estado de México"
               }
           }  
           }          
print( cliente["telefonos"]["casa"])
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"] -= 1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'José Pedroza Rosales', 'telefonos': 'casa=55445656 cel=044534958'}
552863292
{'id': 'CT2121', 'nombre': {'nombre': ['José', 'Eduardo'], 'paterno': 'Predoza', 'materno': 'Rosales'}, 'telefonos': {'casa': '552863292', 'trabajo': '5576385203', 'celular': '04455230222'}, 'productos': {'ahorro': {'numero_cuenta': '778', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
2500.5
15000.5
ESTADO DE MÉXICO
{'ahorro': {'numero_cuenta': '778', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

# Estructuras de control de programación

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:
1. Secuencia:
    - La representación de la memoria de programa (Arquitectura Vonn Newman)
    
2. Selección: 
    - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjunto de opcciones.
    En resumen tenemos: Seleccion simple, selección bifurcación y selección múltiple.
3. Repetición: 
    - Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:
    - Desde.....hasta(estructura for)
    - Haz mientras (estructura while)
    - Haz y luego validaz mientras(estructura Do-While)

# seleccion simple
--- Documentar, o poner notas

La estrutura if

```
if <CONDICION> : 
    <Cuerpo del if>
```
***NOTA*** Para estrablecer el cuerpo de una estructura de control en Python se usan los tabuladores a la izq. 
En otros lenguajes de programación como java, c y c++... se usan las llaves { }

```
int edad =0;
print ("Dame tu edad";
scanf("%i", &edad );
if(edad >= 18){
       printf("ERES MAYOR DE EDAD");
}
printf("fin de programa");
```

In [ ]:
edad= int( input("Dame tu edad:"))
print(f"Tecleaste {edad} años")
if edad >= 18 :
   print ("ERES MAYOR DE EDAD")
   print("Algo")
   print( "Otra cosa")
print("Fin de programa")

Dame tu edad:18
Tecleaste 18 años
ERES MAYOR DE EDAD
Fin de programa

In [ ]:
CAL = int(input("Dame tu calificación: "))
if CAL > 8 :
    print("Aprobado")
print("Fin del programa")

Dame tu calificación: 9
Aprobado
Fin del programa

In [ ]:
CAL = float(input("Dame tu calificación: "))
if CAL > 8 :
    print("Aprobado")
print("Fin del programa")

Dame tu calificación: 7.99
Fin del programa

In [ ]:
SUE = float(input("Dame tu sueldo: "))
AUM=0
NSUE=0

if SUE < 1000:
    AUM = SUE* 0.15
    NSUE = SUE + AUM
    print(NSUE)

Dame tu sueldo: 875.50
1006.825

# Estructura de selección con bifurcación (if-else)

esta estructura, selecciona una de dos opciones de ejecución, se ejecuta un bloque si la condición se cumple o se ejecuta otro bloquen si la condición no se cimple (else)

```
if<condicion> :
    <bloque de ejecución>
else:
    <bloque de ejecución alterno>
````

In [ ]:
edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años ")
if edad >= 18:
    print("Eres mayor de edad, ten tu cheve")
else:
    print("Eres menor de edad, ten tu Boing de mango")

print("Fin del programa")

Dame tu edad: 15
Tecleaste 15 años
Eres menor de edad, ten tu Boing de mango
Fin del programa

In [ ]:
edad = int(input("Dame tu edad: "))
dinero= float(input("¿Cuánto dinero tienes:"))
print(f"Tecleaste {edad} años ")
print(f"Tecleaste {edad} pesos ")
if edad >= 18 and dinero >=36:
    print("Eres mayor de edad, ten tu cheve")
else:
    print("Eres menor de edad, ten tu Boing de mango")

print("Fin del programa")

Dame tu edad: 18
¿Cuánto dinero tienes:60
Tecleaste 18 años
Tecleaste 18 pesos
Eres mayor de edad, ten tu cheve
Fin del programa

In [ ]:
edad = int(input("Dame tu edad: "))
dinero= float(input("¿Cuánto dinero tienes:"))
print(f"Tecleaste {edad} años ")
print(f"Tecleaste {edad} pesos ")
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
        print("No tienes suficiente dinero")
else:
    print("Eres menor de edad, ten tu Boing de mango")

print("Fin del programa")

Dame tu edad: 18
¿Cuánto dinero tienes:39
Tecleaste 18 años
Tecleaste 18 pesos
Eres mayor de edad y tienes dinero, ten tu cheve
Fin del programa

In [ ]:
edad = int(input("Dame tu edad: "))
dinero= float(input("¿Cuánto dinero tienes:"))
print(f"Tecleaste {edad} años ")
print(f"Tecleaste {edad} pesos ")
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
        print("No tienes suficiente dinero")
else:
    if dinero >=36:
        print("Tienes dinero suficiente pero no tienes la edad")
    else:
        print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

print("Fin del programa")

Dame tu edad: 18
¿Cuánto dinero tienes:23
Tecleaste 18 años
Tecleaste 18 pesos
No tienes suficiente dinero
Fin del programa

El código anterior se puede simplificar usando una palabra resservada especial que existe en algunos lenguajes de programación:

# Elif

In [ ]:
edad = int(input("Dame tu edad: "))
dinero= float(input("¿Cuánto dinero tienes:"))
print(f"Tecleaste {edad} años ")
print(f"Tecleaste {dinero} pesos ")
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
        print("No tienes suficiente dinero")
elif dinero >= 36:
        print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

print("Fin del programa")

Dame tu edad: 13
¿Cuánto dinero tienes:23
Tecleaste 13 años
Tecleaste 23.0 pesos
No tienes la edad ni el dinero, ve a jugar roblox a tu casa
Fin del programa

In [ ]:
CAL = float(input("Dame tu calificación: "))
if CAL > 8 :
    print("Aprobado")
else:
    print("Reprobado")

print("\nFin del programa")

Dame tu calificación: 4
Reprobado

Fin del programa

In [ ]:
#Ejemplo 2.4
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE * 0.15
    NSUE = SUE + AUM

else:
    AUM= SUE*0.12
    NSUE = SUE + AUM

print(NSUE)

Escribe el sueldo: 1000
1120.0

In [ ]:
# problema 2.4
SUE=float(input("Dame tu sueldo: "))
if SUE<1000:
    NSUE=SUE*1.15
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es: {NSUE}")

Dame tu sueldo: 900
Tu nuevo sueldo es: 1035.0

# Ejercicio if-else

### Hacer un programa que solicite el día de la semana en un valor numerico entero del 1 al 7 (Avisarle al usuario si proporciono un valor fuera del rango).

### Posteriormente imprimira el dia de la semana correspondiente al numero capturado

1. lunes
2. martes
...

7. domingo

In [ ]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia == 1:
    print("LUNES")
elif dia == 2:
    print("MARTES")
elif dia == 3:
    print("MIERCOLES")
elif dia == 4:
    print("JUEVES")
elif dia == 5:
    print("VIERNES")
elif dia == 6:
    print("SÁBADO")
elif dia == 7:
    print("DOMINGO")
else:
    print("Debe ser un numero entre el 1 y el 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 10
Debe ser un numero entre el 1 el 7, ingresa nuevamente

In [ ]:
dia= int( input( "Ingresa un numero entre el 1 y 7:"))
print(f"Capturaste el numero {dia}")

if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2: 
            print("Martes")
        else:
            if dia == 3:
                print("Miercoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                    if dia == 5:
                        print ("viernes")
                    else: 
                        if dia == 6:
                            print("Sabado")
                        else:
                            print("Domingo")
                
        
else:
    print("Ese número no esta dentro del rango solicitado")

Ingresa un numero entre el 1 y 7:7
Capturaste el numero 7
Domingo

#Hacer un programa que pida dos números enteros y que imprima en pantalla lo siguiente

1. cual de ellos es el numero mayor
2. cual de ellos es el numero menor
 
 o en su defecto
imprimir que los valores son iguales

# Hacer un programa que solicite 3 numeros enteros diferentes entre sí y que imprima cual de los 3 es el mayor 

#Hacer un programa que solicite 3 numeros enteros diferentes entre sí y que imprima cual de los 3 es el menor


#Hacer un programa que solicite 4 numeros enteros diferentes entre si e imprima a la salida cual de elos es el menor y cual de ellos es el mayor

# Selección múltiple (switch)
En python no existe la estructura de la selección switch, en su lugar se emplea la plabra reservada:

### elif <condición>:

por ejemplo en el lenguaje C y Java seria de la forma:

```

In [ ]:
# ejemplo 2.7
 
NUM = int(input("dame un numero entre 1 y 3:"))
V = float(input("Dame un valor float:"))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3 :
    VAL =100/V
else:
    VAL = 0
 
print(VAL)